x=int(1)
y=int(2.9)
z=int("3")
print(x,y,z)

In [6]:
x= float(1)
y=float(2.9)
z=float("3")
print(x,y,z)

1.0 2.9 3.0

In [38]:
x= str(1)
y=str(2.9)
z=str("s3")
w=chr(4)
print(x,y,z)

1 2.9 s3

In [9]:
for x in "banana":
    print (x)

b
a
n
a
n
a

In [10]:
x= "banaa"
print(len(x))

5

In [40]:
b= "aman sharma"
a= "kipm"
print(a+b)
print(b[-5:-2])
print(b.upper())
print(b.strip())
print(b.split())
c= a+" "+b
print(c)

kipmaman sharma
har
AMAN SHARMA
aman sharma
['aman', 'sharma']
kipm aman sharma

In [17]:
age=int(input('enter the age'))
txt="I am aman sharma , and i am {}"
print(txt.format(age))

enter the age23
I am aman sharma , and i am 23

In [16]:
txt
txt1= "for 10:30 I am going to study'dsa'today"
print(txt1)

for 10:30 I am going to study'dsa'today

In [21]:
#neworder
item= str(input('enter the name:'))
quantity=int(input('enter the quantity:'))
price = int(input('enter the price of item:'))
new_order = "the oder for {} total no of {} price for one item is {}"
print(new_order.format(quantity,item,price))
print("total amaout :", quantity*price)

enter the name:ice cream
enter the quantity:5
enter the price of item:50
the oder for 5 total no of ice cream price for one item is 50
total amaout : 250

In [7]:
thislist = ["apple","banana","cherry","orange","kiwi","melon","mengo"]
new_list=[x for x in thislist if "a" in x]
aklist= ['hello 'for x in thislist]
new_list.insert(2,"egg")
print(aklist)
print(new_list)
thislist.append("night")
thislist[1:2]= ["aman","sharma"]
thislist.insert(2,"watermelon")
print(thislist)

['hello ', 'hello ', 'hello ', 'hello ', 'hello ', 'hello ', 'hello ']
['apple', 'banana', 'egg', 'orange']
['apple', 'aman', 'watermelon', 'sharma', 'cherry', 'orange', 'kiwi', 'melon', 'mengo', 'night']

In [1]:
thistupple= (1,3,4,2,4)
print(thistupple)

(1, 3, 4, 2, 4)

# tuple practice

In [15]:
thistupple= ("apple","banana","cherry")
(apple,banana,cherry)=thistupple
print(apple)
print(banana)
print(cherry)
y= list(thistupple)
y.append('non-vegitable')
thistupple=tuple(y)
print(thistupple)#same process for the removing element 
print(banana in thistupple)

apple
banana
cherry
('apple', 'banana', 'cherry', 'non-vegitable')
True

# phytho_sets

In [33]:
thisset= {3,4,5,3,"apple"}
newset= {4,7,8,9}
print(3 in thisset)
thisset.add(8)

print("the pop ",thisset.pop(),"\n")
print(thisset,"\n",len(thisset))
thisset.update(newset)
print(thisset)
set3=thisset.union(newset)
print("the union set \n",set3)

True
the pop  3

{'apple', 4, 5, 8}
 4
{'apple', 4, 5, 7, 8, 9}
the union set
 {'apple', 4, 5, 7, 8, 9}

In [37]:
thisset= {3,4,5,3,"apple"}
newset= {4,7,8,9}
s=thisset.intersection(newset)
print(s)
thisset.intersection_update(newset)
print("iu",thisset)

{4}
iu {4}

# python_dectionary

In [58]:
dict1={"brand":"ktm",
      "model":"duke",
      "year":2000}
print(dict1)
print(dict1["model"])
x=dict1.keys()
print(x)
dict1["color"]= "white"
x=dict1.keys()
print(x)
dict1["year"]=2002
print(dict1.values())
print(dict1.items())
dict1.update({"year":2019})
print(dict1)
#removing item
dict1.pop("year")
dict1.popitem()#last item pop
print("after poping",dict1)

{'brand': 'ktm', 'model': 'duke', 'year': 2000}
duke
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['ktm', 'duke', 2002, 'white'])
dict_items([('brand', 'ktm'), ('model', 'duke'), ('year', 2002), ('color', 'white')])
{'brand': 'ktm', 'model': 'duke', 'year': 2019, 'color': 'white'}
after poping {'brand': 'ktm', 'model': 'duke'}

python_dict

In [8]:
dict1={"brand":"ktm",
      "model":"duke",
      "year":2000}
for x in dict1:
    print(dict1[x])
    #same thing done by 
for x in dict1.values():
    print(x)
    #for keys use dict.keys
    #for the both keys and values 
for s,d in dict1.items():
    print(s,d)
#copy the dict
dict2=dict1.copy()
print(dict1)
print("the new dec",dict2)

ktm
duke
2000
ktm
duke
2000
brand ktm
model duke
year 2000
{'brand': 'ktm', 'model': 'duke', 'year': 2000}
the new dec {'brand': 'ktm', 'model': 'duke', 'year': 2000}

# nested_dectionaries

In [13]:
family = {"child1":{
  "name":"rhaul",
  "year": 2004
},
  "child2" :{
   "name"  :"rohit",
    "year": 2006
  }    
    }
print(family)

{'child1': {'name': 'rhaul', 'year': 2004}, 'child2': {'name': 'rohit', 'year': 2006}}

# python(if-else, conditional loop)